display_errors = Off
file_uploads = On
memory_limit = {{ compose_php_upload_limit }}
upload_max_filesize = {{ compose_php_upload_limit }}
post_max_size = {{ compose_php_upload_limit }}
max_execution_time = 60000
max_input_vars = 5000